<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comic Collection Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div>
        <div class="container">
            <form action="/login" method="post">
                <img src="/img/KilluaAvatar.jpg" alt="logo">
                <div class="loginError">{{ loginError }}</div>
                <input id="username" name="username" type="text" placeholder="Username"> <br>
                <input id="password" name="password" type="password" placeholder="Password"> <br>
                <input id="signIn" type="submit" value="Sign in"> <br>
            </form>
            <div class="drops">
                <div class="drop drop-1"></div>
                <div class="drop drop-2"></div>
                <div class="drop drop-3"></div>
                <div class="drop drop-4"></div>
                <div class="drop drop-5"></div>
            </div>
        </div>
    </div>
</body>

</html>