<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comic Collection Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div>
        <div class="container">
            <form action="/auth/login" method="post">
                <img src="/img/logo.png" alt="logo">
                <div class="loginError">{{ loginError }}</div>
                <input id="username" name="username" type="text" placeholder="Username or email"> <br>
                <input id="password" name="password" type="password" placeholder="Password"> <br>
                <input id="signIn" type="submit" value="Sign in"> <br>
            </form>
            
            <div class="form-group">
                <a href="/auth/google" class="btn login-google">
                    <img src="/img/google.svg" alt="">
                    <span>Sign in with Google</span>
                </a>
            </div>

            <div class="form-group">
                <a href="/auth/facebook" class="btn login-facebook">
                    <img src="/img/facebook.svg" alt="">
                    <span>Sign in with Facebook</span>
                </a>
            </div>
            
            <div class="drops">
                <div class="drop drop-1"></div>
                <div class="drop drop-2"></div>
                <div class="drop drop-3"></div>
                <div class="drop drop-4"></div>
                <div class="drop drop-5"></div>
            </div>
        </div>
    </div>
</body>

</html>