*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

form {
    background: rgba(255, 255, 255, 0.3);
    padding: 3em;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

img{
    display: block;
    margin: 0px auto 60px auto;
    border-radius: 50%;
}

form input{
    background: transparent;
    width: 250px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form input:hover{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="text"]:focus,
form input[type="password"]:focus{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="submit"]{
    margin-top: 10px;
    width: 150px;
    font-size: 1rem;
}

form input[type="submit"]:hover{
    cursor: pointer;
}

form input[type="submit"]:active{
    background: rgba(255, 255, 255, 0.2);
}

::placeholder{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.drop{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.2s ease;
}

.drop-1{
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
}

.drop-1:hover{
    transform: translate(-2px, -3px);
}

.drop-2{
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -10px;
}

.drop-2:hover{
    transform: translate(3px, 4px);
}

.drop-3{
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: -1;
}

.drop-3:hover{
    transform: translate(4px, 0px);
}

.drop-4{
    height: 120px;
    width: 120px;
    top: -60px;
    right: -60px;
}

.drop-4:hover{
    transform: translate(5px, -5px);
}

.drop-5{
    height: 120px;
    width: 120px;
    bottom: -50px;
    left: -50px;
    z-index: -1;
}

.drop-5:hover{
    transform: translate(-5px, 5px);
}

input:focus,
button:focus{
    outline: none;
}