<div class="sidebar active">
    <div class="logo-content">
        <div class="logo">
            <a href="/comics"><img src="https://cdn-icons-png.flaticon.com/32/626/626610.png" alt=""></a>
            <div class="logo-name">Dashboard</div>
        </div>
        <i class='bx bx-menu' id="btnMenu"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a href="#" id="btnAll">
                <i class="bx bx-grid-alt"></i>
                <span class="links-name">All Comics</span>
            </a>
            <span class="tooltip">All Comics</span>
        </li>
        <li>
            <a href="#" id="btnManhwa">
                <i><img src="https://cdn-icons-png.flaticon.com/24/197/197582.png" alt=""></i>
                <span class="links-name">Manhwa</span>
            </a>
            <span class="tooltip">Manhwa</span>
        </li>
        <li>
            <a href="#" id="btnManhua">
                <i><img src="https://cdn-icons-png.flaticon.com/24/197/197375.png" alt=""></i>
                <span class="links-name">Manhua</span>
            </a>
            <span class="tooltip">Manhua</span>
        </li>
        <li>
            <a href="#" id="btnManga">
                <i><img src="https://cdn-icons-png.flaticon.com/24/323/323308.png" alt=""></i>
                <span class="links-name">Manga</span>
            </a>
            <span class="tooltip">Manga</span>
        </li>
        <li>
            <a href="#" id="btnOthers">
                <i><img src="https://cdn-icons-png.flaticon.com/24/921/921490.png" alt=""></i>
                <span class="links-name">Others</span>
            </a>
            <span class="tooltip">Other Comics</span>
        </li>
        <li>
            <a href="#" id="btnHot">
                <i><img src="https://cdn-icons-png.flaticon.com/24/3199/3199306.png" alt=""></i>
                <span class="links-name">Hot</span>
            </a>
            <span class="tooltip">Hot</span>
        </li>
        <li>
            <a href="#" id="btnEnd">
                <i><img src="https://cdn-icons-png.flaticon.com/24/3602/3602395.png" alt=""></i>
                <span class="links-name">End</span>
            </a>
            <span class="tooltip">End</span>
        </li>
        <li>
            <a href="#" id="btnBlacklist">
                <i><img src="https://cdn-icons-png.flaticon.com/24/60/60528.png" alt=""></i>
                <span class="links-name">Blacklist</span>
            </a>
            <span class="tooltip">Blacklist</span>
        </li>
        <li>
            <a href="#" id="btnDrop">
                <i><img src="https://cdn-icons-png.flaticon.com/24/458/458594.png" alt=""></i>
                <span class="links-name">Drop</span>
            </a>
            <span class="tooltip">Drop</span>
        </li>
    </ul>
    <div class="profile-content">
        <div class="profile">
            <div class="profile-details">
                <img src="/img/KilluaAvatar.jpg" alt="">
                <div class="name-job">
                    <div id="userName" class="name">{{user.username}}</div>
                    <div id="userJob" class="job">User</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log-out"></i>
        </div>
    </div>
</div>