<header>
    <div></div>

    <div class="search-wrapper">
        <i class='bx bx-search'></i>
        <form action="/comic/search" method="get">
            <input type="search" name="name" placeholder="Enter comic's name" id="searchTxt">
        </form>
    </div>
    <i class='bx bxs-plus-circle add-comic' id="btnAdd"></i>
</header>